:root {
  --el-loading-mask-border-radius: 1px;
}

.el-loading-mask {
  border-radius: inherit;
}

.custom-loading-wrapper {
  border-radius: 5px;
  backdrop-filter: blur(1px);
  transition: all 0.5s ease;
  animation: loader-blur 30s ease forwards;
}

@keyframes loader-blur {
  0% {
    backdrop-filter: blur(1px);
  }

  100% {
    backdrop-filter: blur(15px);
  }
}

@keyframes loader-flat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.custom-loading-wrapper .el-loading-text {
  color: #ffffff !important;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 10px;
  transition: all 0.5s ease;
  animation: loader-flat 60s ease infinite;
}

.custom-loading-wrapper .el-loading-spinner .path {
  stroke: #409eff !important;
}

.custom-loading-wrapper .el-loading-spinner {
  font-family: 'PingFang SC', sans-serif;
}
