@use 'loader';

* {
  -webkit-user-drag: none;
  user-select: none;
}

@mixin lang-zh {
  [lang='zh'] & {
    @content;
  }
}

@mixin lang-en {
  [lang='en'] & {
    @content;
  }
}

$color-background: var(--el-bg-color);
$color-primary: var(--el-color-primary);
$color-text: var(--el-text-color-primary);

@mixin magic-theme-tint($r, $g, $b) {
  --el-color-primary: rgb(#{$r}, #{$g}, #{$b});
  --el-color-primary-rgb: #{$r}, #{$g}, #{$b};

  @for $i from 1 through 9 {
    --el-color-primary-light-#{$i}: rgba(#{$r}, #{$g}, #{$b}, #{1 - $i * 0.1});
  }
}
